# SPDX-FileCopyrightText: 2016 Ivan Vilata-i-Balaguer <ivan@selidor.net>
#
# SPDX-License-Identifier: CC0-1.0

include LICENSE.txt
include tox.ini
recursive-include docs *.bat
recursive-include docs *.py
recursive-include docs *.rst
recursive-include docs Makefile
